<div>
	<form class="service well">
		<fieldset>
			<legend>Authenticate:</legend>
			<div class="row">
				<div class="col-lg-6">
					<input type="text" class="form-control" placeholder="Email Address"
						ng-model="authenticate.data.email" />
				</div>
				<div class="col-lg-6">
					<input type="password" class="form-control" placeholder="Password"
						ng-model="authenticate.data.password" />
				</div>
			</div>
			<service-footer service="authenticate"></service-footer>
		</fieldset>
	</form>
	<form class="service well">
		<fieldset>
			<legend>Restore:</legend>
			<div class="row">
				<div class="col-lg-12">
					<input type="text" class="form-control" placeholder="Token ID"
						ng-model="restore.data.id" />
				</div>
			</div>
			<service-footer service="restore"></service-footer>
		</fieldset>
	</form>
	<form class="service well">
		<fieldset>
			<legend>Revoke:</legend>
			<div class="row">
				<div class="col-lg-12">
					<input type="text" class="form-control" placeholder="Token ID"
						ng-model="revoke.data.id" />
				</div>
			</div>
			<service-footer service="revoke"></service-footer>
		</fieldset>
	</form>
</div>