<div class="row">
	<div class="col-lg-2">
		<h5>Method:</h5>
		<input type="text" class="form-control" disabled
			value="{{ service.method }}" />
	</div>
	<div class="col-lg-10">
		<h5>Request Url:</h5>
		<input type="text" class="form-control" disabled
			value="{{ service.url() }}" />
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h5>
			<button class="btn btn-xs btn-subtle" tabindex="-1" ng-click="service.rows = service.rows + 3">
				<i class="fa fa-chevron-down"></i>
			</button>
			<button class="btn btn-xs btn-subtle" tabindex="-1" ng-click="service.rows = service.rows - 3">
				<i class="fa fa-chevron-up"></i>
			</button>
			Request Body:
		</h5>
		<textarea class="form-control" rows="{{ service.rows }}" disabled>{{ service.data | json }}</textarea>
	</div>
	<div class="col-lg-6">
		<h5>
			<button class="btn btn-xs btn-subtle" tabindex="-1" ng-click="service.rows = service.rows + 3">
				<i class="fa fa-chevron-down"></i>
			</button>
			<button class="btn btn-xs btn-subtle" tabindex="-1" ng-click="service.rows = service.rows - 3">
				<i class="fa fa-chevron-up"></i>
			</button>
			Response:
		</h5>
		<textarea class="form-control" rows="{{ service.rows }}" disabled
			ng-class="{ 'error' : service.error }">{{ service.response | json }}</textarea>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<button class="btn btn-primary vspace pull-right"
			ng-click="service.send()">Send</button>
	</div>
</div>